.blog-form-container {
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.blog-title-input,
.blog-body-input {
  display: flex;
  flex-direction: column;
}

.blog-title-input input,
.blog-body-input textarea {
  color: black;
}
