/*blogs navbar*/
.blogs-nav {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.blogs-nav h1 {
  color: #f1356d;
}
.blogs-nav .links {
  margin-left: auto;
}
.blogs-nav a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.blogs-nav a:hover {
  color: #f1356d;
}

/* container of bloglist, blogdetails and create blog form */
.blog-container {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

/* bloglist */
.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}
.blog-preview h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}
.blog-preview a {
  text-decoration: none;
}

/* create blog form*/
.create-blog {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create-blog label {
  text-align: left;
  display: block;
}
.create-blog h2 {
  font-size: 20px;
  color: whitesmoke;
  margin-bottom: 30px;
}
.create-blog input,
.create-blog textarea,
.create-blog select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
  color: #212121;
}
.create-blog button {
  background: #212121;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* blog details page */
.blog-details h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 10px;
}
.blog-details div {
  margin: 20px 0;
}
.blog-details button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
