* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.top-container {
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  padding: 10px;
}

.top-container input {
  border: none;
}

.promocode-input button {
  background-color: gray;
}

.form-label {
  line-height: 5px;
}

.form-control {
  line-height: 5px;
}

.checkoutbtn {
  width: 100%;
}

#emailHelp {
  color: #ffffff;
}

hr {
  color: #423f3e;
}

.your-cart-books small {
  color: black;
}

.your-cart-books small:nth-child(2) {
  text-align: center;
}
