.IL-footer {
  color: #ffffff;
  background-color: #171010;
}

.nav-link {
  color: #ffffff;
}

.subs-btn {
  background-color: #2b2b2b;
  color: #ffffff;
}

.subs-btn:hover {
  background-color: #423f3e;
}

textarea {
  height: 100px;
  resize: none;
}

.SocialIcon {
  height: 30px;
  width: 30px;
}

