.IL-footer {
  color: #ffffff;
  background-color: #000000;
}

.subs-btn {
  background-color: #b8621b;
  color: #ffffff;
}

.subs-btn:hover {
  background-color: #262a56;
}

textarea {
  height: 100px;
  resize: none;
}

.SocialIcon {
  height: 30px;
  width: 30px;
}
