.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2b2b2b;
  padding: 10px 20px;
}

.logo {
  height: 50px;
  width: 50px;
}

.nav-item li a {
  text-decoration: none;
  font-weight: bold;
}

.nav-item li a:hover {
  color: #423f3e;
}

.nav-icons {
  font-size: 25px;
}
.cart-icon:hover,
.user-icon:hover,
.search-icon:hover {
  color: #423f3e;
}
.cart-icon,
.user-icon,
.search-icon {
  color: white;
}

.cart-toggle {
  min-height: 120px;
}

.card-body {
  width: 300px;
}

.modal-content {
  color: #ffffff;
  background-color: #423f3e;
}

.modalForm {
  height: 50px;
}

.dropdown-menu {
  background-color: #423f3e;
  color: #ffffff;
}
