.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo {
  height: 25px;
  width: 250px;
  padding-right: 30px;
}

.nav-item li a {
  text-decoration: none;
  /* font-weight: bold; */
}

.nav-item li a:hover {
  color: #423f3e;
}

.nav-icons {
  font-size: 25px;
}
.cart-icon:hover,
.user-icon:hover,
.search-icon:hover {
  color: gray;
}
.cart-icon,
.user-icon,
.search-icon {
  color: #ffffff;
}

.cart-toggle {
  min-height: 120px;
}

/* .card-body {
  width: 300px;
} */

.modal-content {
  color: #ffffff;
  background-color: #423f3e;
}

.modalForm {
  height: 50px;
}

.dropdown-menu {
  background-color: #423f3e;
}

.drop-item {
  color: #ffffff;
}

.offcanvas-body .btn-close-trash {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
