*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.heroContainer{
  background-image: url(src/images/hero-image.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: auto;
  color: white;
  
}

.heroContent{
  padding: 150px;
}

.heroContent button{
  background-color: #B8621B;
}

.heroContent button:hover{
  background-color: #E3CCAE;
}
