* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

<<<<<<< HEAD


=======
>>>>>>> 16d4a92d27d2316c79fccefb1e40cda8a96de86e
.carousel-item{
  width: auto;
  height: 60vh;
  width: 100%;
  
}

<<<<<<< HEAD

=======
.carousel-item img{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  
}
>>>>>>> 16d4a92d27d2316c79fccefb1e40cda8a96de86e

.carousel-item button{
  background-color: #b8621b;
}

.carousel-item button:hover{
  background-color: #262A56;
  color: white;
}
