* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.carousel-item{
  width: auto;
  height: 60vh;
  width: 100%;
  
}



.carousel-item button{
  background-color: #b8621b;
}

.carousel-item button:hover{
  background-color: #262A56;
  color: white;
}
