*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logMain-container{
  background-color: white;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 5px 10px #888888;
}

.loginBox{
  text-align: center;
 
}

.loginBox img{
  height: 100%;
  width: 100%;
}


.form-control{
  line-height: 15px;
}

.regBox .regBtn {
  margin-top: 20px;
  width: 100%;
  font-size: larger;
  background-color: #b8621b;
}

.regBox .regBtn:hover{
  background-color: #262a56;
}

.loginBtn{
  background-color: #b8621b;
}

.input-group{
  border: none;
}

.input-group-text{
  background-color: gray;
}

.regBox .dropdown button{
  width: 100%;
}