.card-parent-div {
  display: flex;
  justify-content: center;
}

div.card-img {
  height: 320px;
  max-width: 210px;
  background: #b8621b;
  box-shadow: 5px 10px #888888;
  border-radius: 5px;
}

div.card-img img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.book-details {
  background: #b8621b;
}
