.gallery-card-parent-div {
  display: flex;
  justify-content: center;
}

div.gallery-card-img {
  max-width: 210px;
  aspect-ratio: 3/4;
  background: #b8621b;
  box-shadow: 5px 10px #888888;
  border-radius: 5px;
}

div.gallery-card-img img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.book-details img {
  object-fit: contain;
}

.book-details {
  background: #b8621b;
}

.media-scroller {
  display: grid;
  gap: 1rem;
  grid-auto-flow: column;

  overflow-x: auto;
  overscroll-behavior-inline: contain;
}

.media-element {
  background: #b8621b;
  border-radius: 5px;
}

.media-element img {
  width: 100%;

  aspect-ratio: 2/3;

  object-fit: contain;
}

@media (width < 800px) {
  .media-scroller {
    grid-auto-columns: 28%;
  }
}

@media (800px <= width < 1400px) {
  .media-scroller {
    grid-auto-columns: 18%;
  }
}

@media (width >= 1400px) {
  .media-scroller {
    grid-auto-columns: 11%;
  }
}
