div.card-parent {
  height: 400px;
  background: #b8621b;
  box-shadow: 5px 10px #888888;
}

div.card-img {
  height: 70%;
}

div.card-img > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

div.card-img > img:hover {
  transform: scale(1.05);
  transition: transform 300ms;
}

div.cardiB {
  height: 30%;
  border-top: 1px solid black;
  color: white;
  overflow: hidden;
}
