.carousel{
  background-color: black;
  padding: 50px;
  height: 100%;
}

.reviewImg{
  height: 150px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  margin-bottom: 190px;
}



